@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global style */
body {
    font-family: "Tektur", sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/logo/sm-background.jpg);
    /* background-repeat: no-repeat; */
}